/* Start custom styles */

#particle-canvas {
    width: 100vw;
    height: 100vh;
    background-image: url("../image/bg.jpg");
    background-size: cover;
}

/* Start Setting */
.setting {
    border-radius: 0 0 10px 0;
    position: relative;
    background-color: $co-second;
    position: absolute;
    top: 40%;
    left: -205px;
    z-index: 999;
    font-family: 'aviny';
    color: #fff;
    padding: 10px;
    transition: all 0.6s;

    &-icon {
        background-color: $co-second;
        position: absolute;
        top: 0;
        right: -45px;
        cursor: pointer;
        font-size: 20px;
        padding: 10px 15px 10px 10px;
        border-radius: 0 5px 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-content {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-title {
            padding-top: 5px;
            font-size: 17px;
        }

        &-colors {
            padding: 10px;
            border-radius: 10px;
            width: 100%;
            background-color: $co-fourth;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 185px;

            &-item {
                width: 40px;
                height: 40px;
                margin: 5px;
                border-radius: 50%;
                display: block;
                cursor: pointer;
            }
        }
    }
}

/* End Setting */

/* Start Menu */
.menu {
    font-family: 'iran-yekan';
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(7, 7, 8, 0.5);
    backdrop-filter: blur(2px);
    width: 10vw;

    &-ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-li {
            cursor: pointer;
            color: $co-first;
            font-size: 30px;
            margin: 15px 0;
            transition: all 0.6s linear !important;

            &:hover {
                transition: all 0.6s linear !important;
                color: $co-third;
            }
        }

        & .music {
            margin-top: 100px;
            font-size: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & svg {
                font-size: 25px;
                margin-bottom: 5px;
            }
        }
    }

}

/* End Menu */

/* Start Home */
.home {
    margin-right: 5vw;
    user-select: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $co-first;

    & h1,
    & p {
        z-index: 100;
    }

    &-title {
        font-family: 'aviny';
        font-size: 55px;
        font-weight: 0;
        margin-bottom: 20px;
    }

    &-description {
        font-family: 'aviny';
        font-size: 20px;

        & #typed {
            color: $co-third;
            border: none;
            margin-left: 2px;
        }
    }
}

/* End Home */

/* Start About */
.about {
    text-align: right;
    padding: 50px 0;
    background-color: $co-second;
    z-index: 999;
    position: absolute;
    top: 0;
    left: -105vw;
    width: 90vw;
    height: 100vh;
    overflow-y: auto;
    transition: left 0.6s;

    &::-webkit-scrollbar {
        background-color: $co-second;
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $co-third;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $co-third;
    }

    &::-o-scrollbar {
        background-color: $co-second;
        width: 5px;
    }

    &::-o-scrollbar-thumb {
        background-color: $co-fourth;
    }

    &::-o-scrollbar-thumb:hover {
        background-color: $co-fourth;
    }

    &-top {
        color: $co-first;
        background-color: $co-second;
        padding: 20px 100px;

        &-title {
            font-family: 'aviny';
            text-align: center;

            &>p {
                padding: 0 15px 10px 15px;
                font-size: 35px;
                display: inline;
                border-bottom: 2px solid $co-third;
            }
        }

        &-description {
            margin-top: 100px;
            padding: 30px;
            border-radius: 5px;
            background-color: $co-fourth;
            display: flex;
            align-items: center;
            justify-content: center;

            &-image {
                position: relative;
                border-radius: 50%;
                min-width: 210px;
                max-width: 210px;
                min-height: 210px;
                max-height: 210px;
                margin-left: 35px;

                &-img {
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            &-content {
                font-family: 'iran-yekan';

                & p {
                    line-height: 33px;
                    font-size: 15px;
                }

                &-title {
                    font-size: 20px !important;
                    font-weight: 0;
                    font-family: 'aviny';
                }

                &-location {
                    font-size: 13px !important;
                    margin: 15px 0;
                    font-weight: 900;
                    color: $co-third;
                }
            }
        }
    }

    &-bottom {
        margin-top: 110px;
        user-select: none;
        font-family: 'iran-yekan';
        color: $co-first;
        background-color: $co-second;
        padding: 20px 100px;

        &-title {
            font-family: 'aviny';
            text-align: center;

            &>p {
                padding: 0 15px 10px 15px;
                font-size: 25px;
                display: inline;
                border-bottom: 2px solid $co-third;
            }
        }

        &-description {
            margin-top: 80px;
            padding: 30px;
            border-radius: 5px;
            background-color: $co-fourth;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            & p {
                font-weight: bold;
                background-color: $co-second;
                width: 220px;
                height: 50px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                text-align: right;
                border-radius: 10px;

                & span {
                    font-size: 22px;
                    color: $co-third;
                    margin-left: 20px;
                    padding: 0 20px;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    border-left: 2px solid $co-fourth;
                }
            }
        }
    }
}

/* End About */

/* Start Contact */
.contact {
    display: none;
    padding: 50px 0;
    background-color: $co-second;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 90vw;
    height: 100vh;
    overflow-y: auto;
    transition: left 0.6s;
}

/* End Contact */

/* Start Skills */
.skills {

    &::-webkit-scrollbar {
        background-color: $co-second;
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $co-third;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $co-third;
    }

    &::-o-scrollbar {
        background-color: $co-second;
        width: 5px;
    }

    &::-o-scrollbar-thumb {
        background-color: $co-fourth;
    }

    &::-o-scrollbar-thumb:hover {
        background-color: $co-fourth;
    }

    direction: rtl;
    background-color: $co-second;
    color: $co-first;
    padding: 70px 100px;
    z-index: 999;
    position: absolute;
    top: 0;
    left: -105vw;
    width: 90vw;
    height: 100vh;
    overflow-y: auto;
    transition: left 0.6s;

    &-title {
        font-family: 'aviny';
        text-align: center;

        &>p {
            padding: 0 15px 10px 15px;
            font-size: 35px;
            display: inline;
            border-bottom: 2px solid $co-third;
        }
    }

    &-description {
        font-family: 'iran-yekan-700';
        direction: rtl;
        text-align: right;
        margin-top: 100px;
        padding: 30px;
        border-radius: 5px;
        background-color: $co-fourth;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;

        &-item {
            margin: 10px 2.5%;
            width: 45%;

            &>p {
                direction: ltr;
                letter-spacing: 0.5px;
            }

            & .progress {
                background-color: $co-second;
            }

            & .progress-bar {
                font-family: 'aviny';
                font-size: 15px;
                background-color: $co-third;
                color: $co-second;
            }
        }
    }
}

/* End Skills */
/* End custom styles */